<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Aethra</title>

    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />

  </head>
  <body>

    <div id="centre-box" class="centre">
      <div id="icon" class="centre">
        <img src="Icon.png" alt="Aethra icon" width="280" height="280" class="centre">
      </div>

      <h1 id="text" class="centre">
        Aethra
      </h1>

      <div id="cover">
        <form method="post" action="/q">

          <div class="tb">
            <div class="td">
              <input name="search" id="search" type="text" placeholder="URL" required autofocus>
            </div>

            <div class="td" id="s-cover">

              <button type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>

            </div>
          </div>

        </form>
      </div>

    </div>

  </body>
</html>
