<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Aethra</title>

    <link rel="stylesheet" href="static/css/searchStyle.css" />
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css"/>

  </head>
  <body>

    <div id="centre-box" class="topbar" href="/">
      <div id="icon" class="topbar">
        <img src="Icon.png" alt="Aethra icon" width="85" height="85"
        class="topbar">
      </div>

      <div id="cover">
        <form method="post" action="/q">

          <div class="tb">
            <div class="td">
              <input name="search" id="search" type="text" placeholder="URL"
              value="{{ searchTerm }}" required autofocus>
            </div>

            <div class="td" id="s-cover">

              <button type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>

            </div>
          </div>

        </form>
      </div>

    </div>

    <div id="tweet-container"></div>
    <div>
      <script type="text/javascript" src="widgets.js"></script>
      <script type="text/javascript" src="organise.js"></script>
      <script type="text/javascript">
        organise({{ tweets | tojson }});
      </script>
    </div>
  </body>
</html>
