* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #272b33;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #0a0c10;
  border-radius: 20px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #7a828e;
  border-radius: 10px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525964;
}

.topbar {
  display: inline-block;
  /* align: left; */
  margin: left;
  padding: 5px;
}

p {
  color: #525964;
  padding: 5px;
}

div.video {
  background-color: #0a0c10;
  overflow: auto;
  white-space: nowrap;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 5px;
}

div.video span{
  display: inline-block;
  overflow-y: scroll;
  height: 550px;
  padding: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.twitter-tweet {
  width: 400px !important;
}

.footer {
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
    padding: 10px;
    bottom: 0px;
}

#title-text{
  position: relative;
  top: 15px;
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black,
    5px 5px black, 6px 6px black;

}

#text{
  width: 800px;
  margin:0 auto;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  top: 150px;
}

#icon{
  padding: 15px;
}

#centre-box{
  vertical-align: middle;
}

#tweet-container{
  padding: 15px;
}

#copy-text{
  position: relative;
  display: inline-block;
  bottom: 10px;
  padding-inline: 3px;
}

#logo{
  position: relative;
  display: inline-block;
  left: 3px;
  padding: 5px;
}

.tb {
  display: table;
  width: 100%;
  vertical-align: top;
}

.td {
  display: table-cell;
  vertical-align: top;
}

input,
button {
  color: #610094;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1750px;
  padding: 20px;
  background-color: #0a0c10;
  border-radius: 20px;
  box-shadow: 0 10px 40px #525964, 0 0 0 20px #525964;
  transform: scale(0.4);
}

form {
  height: 96px;
}

input[type="text"] {
  caret-color: #fff;
  color: #7a828e;
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #7a828e;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}
