asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Django==4.0.7
dnspython==2.2.0
ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==2.0.2
flutter==0.1
future==0.18.2
gunicorn==20.1.0
idna==3.3
ImageHash==4.2.1
iniconfig==1.1.1
insta-api==0.2.4
itsdangerous==2.0.1
Jinja2==3.0.2
log3==0.1.7
MarkupSafe==2.0.1
mpmath==1.2.1
mutagen==1.45.1
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
Pillow==9.1.1
pluggy==1.0.0
praw==7.5.0
prawcore==2.3.0
py==1.11.0
pycryptodomex==3.14.1
pymongo==4.0.1
pyparsing==3.0.7
PySimpleGUI==4.49.0
pytest==6.2.5
PyWavelets==1.3.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
scipy==1.8.0
six==1.16.0
sqlparse==0.4.2
sympy==1.9
toml==0.10.2
tweepy==4.8.0
typing_extensions==4.0.1
tzdata==2022.1
update-checker==0.18.0
urllib3==1.26.8
videohash==2.1.9
websocket-client==1.2.3
websockets==10.2
Werkzeug==2.0.2
youtube-dl==2021.12.17
yt-dlp==2022.7.18
